:root{
    --cor-de-fundo: white;
    --texto1: black;
    --texto2: blue;
    --botao-ativo: yellow;
    --botao-inativo: green;
    --texto-fundo: pink;
}
body {
    background-color: var(--cor-de-fundo);
    background-color: var(--texto1);
    background-color: var(--texto2);
    background-color: var(--botao-ativo);
    background-color: var(--botao-inativo);
    background-color: var(--texto-fundo);
}
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');