@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root{
    --cor-de-fundo: rgb(160, 201, 181);
    --texto1: rgb(197, 197, 197);
    --texto2: blue;
    --botao-ativo: yellow;
    --botao-inativo: green;
    --texto-fundo: rgb(141, 177, 137);
}
body {
    background-color: var(--cor-de-fundo);
    font-family: 'Berkshire Swash'; 
}

.botao{
    font-size: 60px;
    text-align: center;
    margin: 90px;
    padding: 8em;
    border-radius: 10%;
    border-color: rgb(7, 0, 70);
    font-family: "kode mono" sans-serif;
    background-color: var(--botao-inativo);
    display: flex;
    color: var(--texto1);
    justify-content: center;
    align-items: center;
    width: 10%;
    
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.Titulo-principal{
    font-size: 500px;

}