@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root{
    --cor-de-fundo: rgb(255, 255, 255);
    --texto1: rgb(0, 0, 0);
    --texto2: rgb(8, 42, 133);
    --botao-ativo: rgb(156, 218, 156);
    --botao-inativo: rgb(156, 218, 156);
    --texto-fundo:rgb(255, 255, 255);
}
body {
    background-color: var(--cor-de-fundo);
    font-family: 'Berkshire Swash'; 
}

.botao{
    font-size: 50px;
    border-color: rgb(7, 0, 70);
    font-family:  'div class="contador"></div>Berkshire Swash';
    background-color: var(--botao-inativo);
    color: var(--texto1);
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    display: flex;
    
}
.botao:first-child{
    border-radius: 60px 0 0 0;

}
.botao:last-child{
    border-radius: 0 0 0 60px;
}
.botao:nth-child(2){
    border-radius: 60px 0px 60px 0;
}


.conteudo-principal{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex
}

.Titulo-principal{
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;

}
.botao.ativo{
    background: var(--botao-ativo); 
    border: 8px solid rgb(23, 0, 85);
    font-size: 45px;
   
    
}
.aba-textos{
    background-color: var(--texto-fundo);
    font-size: 30px;
    text-align: center;
}
.aba-conteudo.ativo{
    display: block ;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 180%;
    text-align: center;
    letter-spacing: 3px;
}
.aba-conteudo-titulo-secundario{
    color: var(--texto1);
    letter-spacing: 2px;
}
.botoes{
    display: flex;
    justify-content: center;
}
.contador{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: rgb(56, 126, 56);
    letter-spacing: 5px;
}

